body {
    background: black;
    color: white;
}

ul {
    width: 200px;
    height: 70px;
    background: black;
    color: white;
    li {
        list-style: none;
        font-size: 18px;
        cursor: pointer;
        &:hover {
            background: limegreen;
        }
    }
}

#itemInfo {
    color: white;
    font-size: 22px;

}

